body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  
  label {
    font-size: 1rem;
    font-weight: bold;
  }
  
  input {
    display: block;
    margin: 10px auto 20px auto;
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  table th {
    cursor: pointer;
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
  }
  
  table th:hover {
    background-color: #ddd;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  